// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url("components/message.css");
@import url("components/tabs.css");

body {
  margin: 0;
  margin-bottom: 100px;
  font-family: 'Varela Round', sans-serif;
  background-color: #5d5d5d;
}
.text-center {
  text-align: center;
}
.container {
  max-width: 900px;
  margin: 50px auto;
}

